<section class="container my-5 position-relative ">
    <article class="row ">

        <section class="col-md-10 ">
            <h1 class="mt-4 ">JarzSoft Evolution</h1>
            <h2>Solución para FinTech, Cooperativas y Fondos de Empleados</h2>
            <img class="d-block mx-auto img-fluid history-img col-mg-6 " src="assets/images/Fintech2jpeg.jpeg" alt="jarzsoft evolution ">

            <P class="text-justify">Es una solución orientada a fintech, compañías de financiamiento y entidades o asociaciones solidarias como cooperativas, fondos de empleados y asociaciones, ya sean multiactivas, financieras o de ahorro y crédito. Nuestro software permanece
                siempre actualizado a la legislaciónnacional. Lo cual garantiza la estabilidad del producto y su inversión.
            </P>
            <P class="text-justify">Contempla los módulos de administración del asociado, aportes, captaciones, colocaciones, cartera personal y libranza, jurídico, servicios, convenios, control de documentos, tesorería, contabilidad, activos fijos, presupuesto, atención al
                cliente, inventarios y facturación de productos y servicios todos relacionados entre sí. </P>

            <p class="text-justify">Clasificación de la cartera, deterioro individual, modelos de referencia para la estimación de las pérdidas esperadas.</p>
            <P class="text-justify">Genera Informes DIAN, Supersolidaria, CIFIN, DATACREDITO. Actualizado para NIIF. </P>

            <P class="text-justify">Contamos con un Módulo Web de información de asociados, Sarlaft, simulación, solicitudes, radicación e información para aprobación de créditos, órdenes de servicio, consulta de facturas, estados de cuenta de los asociados, certificados y paz
                y salvos. </P>
            <h3>Plataformas, Requerimientos y otras características</h3>

            <P class="text-justify">Modo de Operación: Plataformas Móvil - Web - Cliente Servidor * Lenguaje de desarrollo Visual .NET. Java * Sistemas Operativos: Cliente Windows 10. * Servidor Windows Server, UNIX, LINUX. * Bases de Datos: SQL Server 2008/2016, Oracle 11g./19
                * Manuales en línea, idioma español. * Licencia corporativa. * SaaS.
            </P>

        </section>
    </article>
</section>