<section class="container my-5 position-relative " id="nosotros">
    <article class="row ">
        <h1>JarzSoft Ingeniería y Consultoría de Software</h1>
        <section class="col-md-10 ">
            <h2 class="mt-4 ">Nosotros</h2>
            <p></p>
            <h3>Información General</h3>
            <P>JarzSoft es una empresa de Ingeniería y Consultoría de Software, especialista en el proceso del ciclo de vida del desarrollo de software, que tiene como objetivo principal garantizar la calidad en las soluciones de software construidas o adquiridas
                por nuestros clientes, asegurando altos niveles de madurez, capacidad y trazabilidad durante el ciclo de vida del software.
            </P>
            <P>Utilizamos un modelo de referencia para la gestión de proyectos y para la construcción de software, la tecnología, énfasis en planeación, seguimiento, control y cumplimiento de los requerimientos, manejo y control del talento humano y la experiencia
                adquirida durante 25 años de proyectos de software exitosos y alineados con los objetivos estratégicos de nuestros clientes.
            </P>
            <p>Los servicios ofrecidos se prestan a nivel global en idiomas español e inglés.
            </p>
            <p>Con el fin de asegurar y garantizar la calidad en las soluciones de software construidas o adquiridas por nuestros clientes, un selecto grupo de profesionales en ingeniería y consultoría de software, conscientes de la importancia de los requerimientos
                particulares, realiza:
            </p>
            <p>Asesoramiento y acompañamiento en las diferentes fases del ciclo de vida del software
            </p>
            <p>Optimización de los procesos y asegurando altos niveles de madurez, capacidad y trazabilidad.
            </p>
            <p>Esta labor es desarrollada por un grupo especializado de profesionales con el conocimiento de los estándares tecnológicos, utilizando un modelo de referencia para la gestión de proyectos, un modelo de referencia para la construcción de software
                gestión del talento humano, enfatizando en la planeación, seguimiento y control.
            </p>

            <h3>Misión</h3>
            <P>Proporcionar y promover tecnologías de información en las organizaciones para garantizar soluciones de calidad alineadas con los objetivos estratégicos de nuestros clientes, utilizando la innovación, las competencias y experiencia de nuestro
                recurso humano, metodologías y modelos de referencia adecuados para cada organización
            </P>

            <h3>Visión</h3>
            <P>Ser una compañía líder, económicamente sólida, reconocida por su alto grado de innovación y posicionada a nivel internacional, apoyados en las tecnologías de información, experiencia, conocimiento y servicio.
            </P>


        </section>
    </article>
</section>