<nav class="navbar navbar-expand-lg sticky-top navbar-toggleable-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon ion-md-menu"></span>
    </button>
    <section class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav mr-auto text-center ml-4">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Characters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
        </ul>
        <article class="login d-flex flex-row justify-content-center mt-4">

            <section class="icon-details ">
                <a id="linkedin " class="nav-link " href="https://linkedin.com/in/josé-agustín-rodríguez-zorro-579b1334 ">
                    <img src="assets/icons/linkedin1.png " alt="linkedin " width="35px ">
                </a>
                <p id="text2 "></p>
            </section>
            <section class="icon-details ">
                <a id="twitter " class="nav-link " href="https://twitter.com/jarzorro ">
                    <img src="assets/icons/twitter1.png " alt="twitter " width="35px ">
                </a>
                <p id="text2 "></p>
            </section>
            <section class="icon-details">
                <a id="instagram" class="nav-link" href="https://instagram.com/joselozorro">
                    <img src="assets/icons/instagram1.png " alt="Instagram" width="35px ">
                </a>
                <p id="text2 "></p>
            </section>

        </article>

    </section>
</nav>

<!-- Copyright -->
<section class="footer-copyright text-center py-3 ">© 2021 Copyright:
    <a href="http://www.jarzsoft.com/ "> José Agustín Rodríguez Zorro</a>
</section>