<section class="container my-5 position-relative" id="portafolio">
    <article class=" row ">
        <img class="d-block mx-auto img-fluid history-img col-mg-6 " src="assets/images/Software1.jpg" alt="software image ">
        <section class="col-md-6 ">
            <h2 class="mt-4 ">Desarrollo de Software</h2>
            <ul>
                <li class="proyectosart">Lenguajes</li>
                <ul>
                    <li class="proyectosart">.Net (Vb, C#).</li>
                    <li class="proyectosart">Java - JavaScript – Angular</li>
                    <li class="proyectosart">Oracle PL/SQL.</li>
                </ul>
                <li class="proyectosart">Base de datos Oracle 11g/12c/19, SQL Server 2008/2012/2014/2016</li>
                <li class="proyectosart">Web Logic Server - Glassfish</li>
                <li class="proyectosart">Metodologías y modelos de desarrollo de software adecuadas al proyecto. Agile – Scrum</li>
                <li class="proyectosart">Arquitectura y mejores prácticas</li>
                <li class="proyectosart">Plataformas Móvil - Web - Cliente Servidor</li>
            </ul>
        </section>
    </article>
</section>

<section class="container my-5 position-relative ">
    <article class="row ">
        <img class="d-block mx-auto img-fluid history-img col-mg-6 " src="assets/images/Consultoria1.jpg " alt="consultoria">
        <section class="col-md-6 ">
            <h2 class="mt-4 ">Consultoría de Software</h2>
            <ul>
                <li>Arquitectura de Software</li>
                <li>Definición y Elaboración de requisitos</li>
                <li>Contratación de Software</li>
                <li>Verificación, validación y aceptación de Software</li>
                <li>Fábrica de Software</li>
                <li>Evaluaciones de disponibilidad y rendimiento a Base de datos Base de datos ORACLE – SQL Server</li>
            </ul>
        </section>
    </article>
</section>


<section class="container my-5 position-relative " id="sectores">
    <article class="row ">
        <img class="d-block mx-auto img-fluid history-img col-mg-6 " src="assets/images/Sectores.jpg " alt="Sectores ">
        <section class="col-md-6 ">
            <h2 class="mt-4 ">Sectores</h2>
            <p></p>
            <ul>
                <li>Seguros</li>
                <li>Financiero</li>
                <li>Cartera Financiera</li>
                <li>Solidario</li>
                <li>Telefonía</li>
                <li>Activos fijos</li>
                <li>Aeronáutico</li>
                <li>Universitario</li>
                <li>Accionistas </li>
            </ul>
        </section>
    </article>
</section>

<section class="container my-5 position-relative " id="principios">
    <article class="row ">
        <img class="d-block mx-auto img-fluid history-img col-mg-6 " src="assets/images/principios3.jpg" alt="primcipios">
        <section class="col-md-6 ">
            <h2 class="mt-4 ">Principios y Valores</h2>
            <p></p>
            <ul>
                <li>Innovación tecnológica</li>
                <li>Liderazgo</li>
                <li>Soporte</li>
                <li>Servicio</li>
                <li>Mejora continua</li>
                <li>Cumplimiento de los compromisos adquiridos</li>
            </ul>

        </section>
    </article>
</section>