<app-menu-login></app-menu-login>
<div class="container pt-5">
    <div class="card p-4">
        <h1>Register</h1>
        <form ngNativeValidate (ngSubmit)="registrar()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" [(ngModel)]="userInfo.email" [ngModelOptions]={standalone:true} type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div *ngIf="userInfoValidator.email" id="emailHelp" class="form-text text-danger">Email no valido</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input name="userName" [(ngModel)]="userInfo.userName" [ngModelOptions]={standalone:true} type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div *ngIf="userInfoValidator.password" id="emailHelp" class="form-text text-danger">UserName no valido</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" [(ngModel)]="userInfo.password" [ngModelOptions]={standalone:true} type="password" class="form-control" id="exampleInputPassword1">
                <div *ngIf="userInfoValidator.password" id="emailHelp" class="form-text text-danger">Por favor ingrese su contraseña</div>
            </div>
            <div class="mb-3 form-check">
                <input name="boton" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<app-footer></app-footer>